body {
    background-color: white;
}

.cabecalho {
    width: 100%;
    margin-left: -10px;
    padding: 10px;
    margin-top: -1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9a7bb1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.logo {
    width: 140px;

}

.cabecalho ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

/*edição texto do menu*/
.cabecalho ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-left: 50px;
}

/*edição manu linha*/
.cabecalho ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #472863;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

/*animação linha menu*/
.cabecalho ul li:hover::after {
    width: 90px;
    left: 30%;
}

.D1 {
    margin-top: 10%;
    height: 50%;
}


/* estilo para o layout geral da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


/* estilo para a seção de produtos */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

/* estilo para cada item de produto */
.produto {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

/* estilo para o título do produto */
.produto h3 {
    font-size: 18px;
    margin-top: 0;
}

/* estilo para a descrição do produto */
.produto p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* estilo para a imagem do produto */
.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* estilo para o preço do produto */
.produto span {
    font-size: 16px;
    font-weight: bold;
}

/* estilo para o botão de compra */
.produto button {
    background-color: #aa6cc4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* estilo para o botão de compra quando o mouse passa por cima */
.produto button:hover {
    background-color: #b779c8;
}