@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body {
  background-color: white;


}

.cabecalho {
  width: 100%;
  margin-left: -10px;
  padding: 10px;
  margin-top: -1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9a7bb1;
}

.logo {
  width: 140px;

}

/*funçoes cabeçalho*/
.cabecalho ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.cabecalho ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin-left: 50px;
}

.cabecalho ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background-color: rgb(77, 51, 101);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.cabecalho ul li:hover::after {
  width: 90px;
  left: 30%;
}


.profile {
  text-align: center;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px 0;
}

.profile2 {
  text-align: center;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile2 img {
  border-radius: 50%;
  width: 100px;
  height: 200px;
  margin: 20px 0;

}