@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body {
    background:linear-gradient(rgba(72, 44, 90, 0.8), rgb(46, 46, 54)),
    url(arg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 160px;
    
}

.frase {
    color: white;
    margin-left: 23%;
    margin-top: 10%;
    max-width: 90%;
    max-height: 30%;
    font-size: 400%;
    font-family: 'Poppins', sans-serif;
}

.botao {
    width: 20%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    cursor: pointer;
    margin-left: 37%;
    margin-top: 10%;
    font-family:Trebuchet MS;
    font-size: 120%;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}

a:link{
    text-decoration: none;
    }    

button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.botao:hover {
    background-color: rgb(250, 255, 175);
    
}