body
        {
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            background-color: rgb(255, 255, 255);
        }
        .cabecalho
        {
            background-color: #ded1f0;
            color:rgb(245, 245, 245);
            width: 202vh;
            height: 50px; 
            margin-top: -7px;
            margin-left: 145px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .imagem_cabecalho
        {
            width: auto;
            height: auto;
            left: 10px;
            right: 20%;
            max-width:180px;
            max-height:300px;
            margin-top: -13px;
        }

        .livro
        {
            width: 70%;
            height: 75%;
            left: 95%;
            margin-left: 35%;
            margin-top: 5%;
            max-width:390%;
            max-height:390%;  
        }

        .frase
        {
           
            margin-left: 10%;
            margin-top: -25%;
            max-width:50%;
            max-height:30%; 
            font-size: 300%;      
        }

        .botao
        {
            width: 20%;
            height: 60px;
            background-color: rgb(130, 87, 150);
            border-radius: 50px;
            color: aliceblue;
            display: flex;
            cursor: pointer;
            margin-left: 10%;
            margin-top: 5%;
            font-size: 120%;
            flex-direction: row;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            
        }
        button
        {
            color:rgb(238, 225, 225);
            background-color: rgb(71, 63, 119);
        }

        .botao:hover
        {
            background-color: rgb(60, 42, 88);     
        }