.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    color: white;
    background: linear-gradient(90deg, rgba(117,40,205,1) 0%, rgba(120,69,159,1) 28%, rgba(140,109,184,1) 46%, rgba(193,155,118,1) 68%, rgba(205,175,97,1) 96%);
  }