* {
  margin: 0;
  padding: 0;
}

:root {
  --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/lua.png");
  --trono-img: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/trono-preto.png"); 
}

.dark-mode {
  --bg-cor: black;
  --fonte-cor: #ffffff;
  --label-icon: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/sol.png");
  --trono-img: url("https://caelum-online-public.s3.amazonaws.com/1369-alura-mais-dark-mode/trono-branco.png");
}

body {
  background: var(--bg-cor);
  color: var(--fonte-cor);
  user-select: none; 
  transition: 1s;
  user-select: none;
}



.mudar-tema {
  position: absolute;
  top: 12%;
  left: 2%;
  background-image: var(--label-icon); 
  background-repeat: no-repeat;
  padding: 67px;
  cursor: pointer; 
}

#btn {
  display: none;
  width: 20px;
  margin-top: 200px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

p {
  font-size: large;
  text-align: justify;
  line-height: 1.5;
}

.cabecalho {
  width: 100%;
  margin-left: -10px;
  padding: 10px;
  margin-top: -1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9a7bb1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.logo {
  width: 140px;

}

.cabecalho ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

/*edição texto do menu*/
.cabecalho ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-left: 50px;
}

/*edição manu linha*/
.cabecalho ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #472863;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

/*animação linha menu*/
.cabecalho ul li:hover::after {
  width: 90px;
  left: 30%;
}